body {
  margin: 0;
  background-color: #33aad9;
  font-family: monospace;
}

.stage {
  max-width: 384px;
  margin: 50px auto;
  text-align: center;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.footer {
  text-align: right;
  margin: 10px 0;
  text-align: center;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}
